@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 3rem;
  background-image: url(../assets/banner.png);
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
  text-align: right;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 50px 50px 0;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  color: #1C4966;
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 3rem;
  font-weight: 700;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #19AA9B;
  padding: 1rem;
  color: #ffffff;
}
.header .logo {
  width: 150px;
}
.header .nav-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 0;
  margin: 0;
}
.header .nav-menu .nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
}

.producto {
  width: 400px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.producto .categoria-prod {
  position: absolute;
  margin: 10px 0 0 10px;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 3px 15px 3px 15px;
  text-transform: uppercase;
  background-color: #19AA9B;
  border-radius: 10px;
  color: #ffffff;
}
.producto .imagen-prod {
  height: 400px;
  width: 398px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.producto .titulo-prod {
  margin-top: 20px;
  letter-spacing: -1.4px;
}
.producto .precio-prod {
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.3rem;
  color: #19AA9B;
}
.producto .link-prod {
  background-color: #19AA9B;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  margin-top: 20px;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  font-weight: bold;
}
.producto .link-prod:hover {
  background-color: #333333;
}

.detail-prod {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1%;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
}
.detail-prod .detail-izq {
  width: 75%;
}
.detail-prod .detail-izq .categoria-prod {
  position: absolute;
  margin: 10px 0 0 10px;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 3px 15px 3px 15px;
  text-transform: uppercase;
  background-color: #19AA9B;
  border-radius: 10px;
  color: #ffffff;
}
.detail-prod .detail-izq .imagen-prod {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}
.detail-prod .detail-der {
  width: 25%;
}
.detail-prod .detail-der .titulo-prod {
  margin-top: 20px;
  letter-spacing: -1.4px;
}
.detail-prod .detail-der .detail-compra {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.detail-prod .detail-der .detail-compra .precio-prod {
  font-weight: bold;
  font-size: 1.3rem;
  color: #19AA9B;
  text-align: center;
  margin: 10px;
}
.detail-prod .detail-der .detail-compra .link-prod {
  background-color: #19AA9B;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.detail-prod .detail-der .detail-compra .link-prod:hover {
  background-color: #333333;
}
.detail-prod .detail-der .descripcion-prod {
  margin: 20px;
  text-align: center;
}

.productos-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.item-list-container {
  min-height: 50vh;
  display: grid;
  place-items: center;
}

.footer {
  background-color: #1C4966;
  padding: 2rem;
  margin-top: 5rem;
}
.footer .redes-footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.footer .redes-footer svg {
  width: 2rem;
  height: 2rem;
  color: #ffffff;
}
.footer .redes-footer svg:hover {
  color: #e0e0e0;
  transform: scale(1.15);
}

/*# sourceMappingURL=main.css.map */
