@media  (max-width:1024px) {
      
    h1{
    font-size: 2rem;
    height: 300px;
    padding: 0 30px 30px 0;
    }
    
    h2 {
    font-size: 1.5rem;
    }
    
    h3 {
    font-size: 1.2rem;
    }
    
    p {
    font-size: 1rem;
    }

    .header{
        .logo{
            width: 100px;
        }
        .navbar-icono{
            border: rgba(255, 255, 255, 0.5) solid 2px;
        }
        .nav-menu{
            gap: 1rem;
            .nav-link{
                font-size: 1rem;
            }
        }
        .carrito{
            span{
                height: 15px;
                width: 15px;
                line-height: 15px;
                font-size: 10px;
                top: -15px;
                right: 5px;
            }
        }
    }

    .producto{
        width: 280px;
        .categoria-prod{
            margin: 10px 0 0 10px;
            font-size: 0.8rem;
            padding: 3px 15px 3px 15px;
        }
        .imagen-prod {
            height: 280px;
            width: 278px;
            border-radius: 10px 10px 0 0;
            object-fit: cover;
        }
    
        .titulo-prod{
            margin-top: 20px;
            letter-spacing: -1.4px;
            border-bottom: solid 1px $gris-c;
        }
        .precio-prod{
            font-weight: bold;
            font-size: 1rem;
        }
        .link-prod{
            font-size: 1rem;
            padding: 5px;
            width: 120px;
        }
        .botones {
            position: absolute;
            top: 65%;

        }
    }

    .detail-prod{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 280px;
        .detail-izq{
            width: 280px;
            .categoria-prod{
                font-size: 0.8rem;
            }
            .imagen-prod{
                height: 100%;
            }
        }
        
        .detail-der{
            width: 100%;
            .titulo-prod{
                margin-top: 20px;
            }
            .detail-compra{
                margin-top: 20px;
                .precio-prod{
                    font-size: 1rem;
                    margin: 10px;
                }
                .link-prod{
                    font-size: 1rem;
                    padding: 5px;
                }
            }
        } 
    }

    .carrito-container{
        flex-direction: column;
        
        padding: 0 20px 0 20px;
        .productos-container{
            display: flex;
            flex-direction: column;
            padding: 0;
            width: 100%;
    
            .producto-item{
                font-size: 1rem;            
                text-transform: uppercase;
                padding-bottom: 20px;
                img{
                    width: 100px;
                    height: 100px;
                    margin-top: 10px;
                }
                .item-prod{
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    padding: 10px;
                    font-size: 1rem;
    
                    .acciones-prod{
                        flex-direction: row;
                        align-items: center;
                        width: auto;
                        gap: 0.5rem;
                        p{
                            margin-bottom: 0;
                        }
                        .boton-cant{
                            font-size: 15px;
                            height: 15px;
                            width: 15px;
                            line-height: 15px;
                        }
                    }
                }
            }
        }
        .resumen-container{
            width: 100%;
            margin-right: 0px;
            .resumen-items{
                padding-bottom: 20px;
                .descrip-carrito{
                    font-size: 1rem;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
            .final-resumen{
                gap: 20px;
                margin-top: 10px;
                .vaciar-carrito{
                    padding: 10px;
                }
                .finalizar-carrito{
                    font-size: 1rem;
                    padding: 10px 50px 10px 50px;

                }
            }
        }
    }

    .finalizar-container{
        .finalizar-compra{
            display: flex;
            flex-direction: column-reverse;
            padding: 0 20px 0 20px;
            .form-final{
                width: 100%;
                padding: 0 30px 0 30px;
                .final-resumen{
                    .finalizar-carrito{
                        text-align: center;
                        font-size: 1rem;
                        padding: 5px 50px 5px 50px;
                        border-radius: 30px;
                    }
                }
            }
            .resumen-container{
                width: 100%;
                margin-right: 0px;
                margin-bottom: 20px;
                .resumen-items{
                    padding-bottom: 20px;
                    .descrip-carrito{
                        font-size: 1rem;
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
        }
    }
}